<div class="container">
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
       <ul class="navbar-nav">
         <li class="nav-item">
          <button routerLink="GererReunion" class="m-1 btn  btn-light btn-outline-primary" button>gerer Reunion</button>
        </li>
        <li class="nav-item">
          <button routerLink="Chat" class="m-1 btn  btn-light btn-outline-primary" button>Chat</button>
        </li>
        <li class="nav-item">
          <button routerLink="videochat" class="m-1 btn  btn-light btn-outline-primary" button>videochat</button>
        </li>
       </ul>
     </nav>
   </div>
