<div style="max-width: 1000px;
    top: 50%;
    top: 40%;
    left: 27%;
    position: absolute;">
   
     <div class="flex-1">
      <button routerLink="GererProfesseur" class="bttn-unite bttn-lg bttn-primary">
        <div class="psuedo-text">Gerer Professeur</div>
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button routerLink="GererEtudiant" class="bttn-unite bttn-lg bttn-primary">
        <div class="psuedo-text">Gerer Etudiant</div>
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button routerLink="GererDashboard" class="bttn-unite bttn-lg bttn-primary">
        <div class="psuedo-text">Gerer Dashboard</div>
      </button>
    </div>
    <div class="flex-1">
     
    </div>
   </div>
   <img style="
    height: 320px;
    float: right;
    position: absolute;
    top: 434px;
    left: 530px;" [src]="school"/>
  
