<div id="loader">
    <section class="preloader">
        <div class="spinner">

             <span class="spinner-rotate"></span>
             
        </div>
   </section>
</div>
<div class="container">
    
   <img class="center" [src]="cheminLogo"/>
   <img style="width: 300px;
   height: 280px;
   float: right;
   position: absolute;
   top: 420px;
   right: 120px;" [src]="image1"/>
   <img style="width: 300px;
   height: 280px;
   float: right;
   position: absolute;
   top: 60px;
   right: 120px;" [src]="image2"/>
   <img style="width: 300px;
   height: 280px;
   float: right;
   position: absolute;
   top: 60px;
   left: 120px;" [src]="image3"/>
   <img style="width: 300px;
   height: 280px;
   float: right;
   position: absolute;
   top: 420px;
   left: 120px;" [src]="image4"/>
   <a href="https://www.vnext-consulting.net" target="_blank">
   <img id="it" style="height: 25px;
   width: auto;
   float: right;
   position: absolute;
   top: 720px;
   left: 10px;" [src]="vnext"/></a>
    <div id="absoluteCenteredDiv">
      
          <div class="box">
              <h1>Login</h1> 
              <label>Matricule</label><br>
              <input class="username" #MatNameInput name="username" type="text" >
              <label>Password</label>
              <input class="username" #PsdNameInput name="Password" type="password" >
              <button  class="btn" id="btn" (mousedown)="getUinfo();"  (mouseup)="verif();" >Se connecter</button>
              
              <a routerLink="inscription"><div id="btn2">Inscription</div></a>
          </div>
  </div> 
    <router-outlet></router-outlet>
</div>





